<div class="playlist">
  <% @video.group.videos.each do |video| %>
      <% if video.id == @video.id %>
        <div id="<%= video.id %>" class="current"><%= link_to video.name, video, remote: true %></div>
      <% else %>
        <div id="<%= video.id %>"><%= link_to video.name, video, remote: true %></div>
      <% end %>
  <% end %>
</div>
<script>
  $('.playlist').animate({opacity: 0},1000, function(){
      document.getElementById(<%= @video.id %>).scrollIntoView();
  });
  $('.playlist').hover(
          function(){$('.playlist').animate({opacity: 0.8},800);},
          function(){$('.playlist').animate({opacity: 0},800);}
  );

  <% next_video = @video.next_video_in_group %>
  <% if next_video %>
  var video = $('video')[0];
  video.addEventListener( "ended", function() {
      $.ajax({
          url: "<%= escape_javascript video_url next_video %>",
          dataType: 'script'
      });
  } );
  <% end %>
</script>